.veg-parent {
    width: 100%;
    height: auto;

    .veg-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--unit);

        .list {
            display: flex;
            justify-content: center;
            align-items: stretch;
            gap: calc(var(--unit)/3);

            .veg-left {
                width: 50%;
                aspect-ratio: 1;
                border-radius: 50%;
                border: 7px solid var(--accent2);
                z-index: 1;
            }

            .veg-right {
                width: 50%;
                height: auto;
                padding: 20px 0px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 12px;

                .menu-name {
                    width: 100%;
                    height: auto;
                    padding: 8px 8px 8px 45px;
                    border-radius: 25px;
                    transform: translateX(-32%);
                    background-color: var(--accent2);
                    color: white;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                }

                .menu-des {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: 0.7px;
                    word-spacing: 1px;
                }

                .price {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--accent2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .price-img{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;

                        .chilly-img{
                            width: 50%;
                            height: 100%;

                            img{
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}